@charset "utf-8";
/* CSS Document*/


body {
    background-color: #b3b36a;

}
.inicio{
    color: #0d3b1e;
}

.logo{
    width: 220px;
    height: auto;
    display: block;
    margin:0px auto;
}

.formulario {
       padding: 10px;
    color: #f5f5e8;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.formulario-section h2 {
    margin-bottom: 50px;
    font-size: 2rem;
}

.form {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.grupo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.grupo label {
    width: 180px;
    text-align: left;
    font-weight: bold;
}

.grupo input {
    width: 220px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #ececd7;
    padding: 0 15px;
}

.comentario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comentario label {
    margin-bottom: 15px;
    font-weight: bold;
}

.comentario textarea {
    width: 320px;
    height: 180px;
    border: none;
    border-radius: 20px;
    background-color: #ececd7;
    resize: none;
    padding: 15px;
}

.btn-enviar {
    margin-top: 40px;
    padding: 12px 35px;
    border: none;
    border-radius: 25px;
    background-color: #0d3b1e;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.btn-enviar:hover{
    color: #b3b36a;
}

footer{
    background-color: #0d3b1e;
    color:#ececd7;
   min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .form {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .grupo {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .grupo label, .grupo input {
        width: 100%;
    }
    
    .comentario {
        align-items: fill;
    }

    footer{
      text-align: center;
    }
}